@import url(./global.css);
#container {
    display: flex;
    justify-content: center;
}
#login {
    width: 35%;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius:30px ;
    padding: 50px;
    background-color: var(--dark-light);
}
input {
    width: 25vh;
}